body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-60px;
  width:1437px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1805 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:53px;
  width:1025px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1805 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1805_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1806 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:129px;
  width:100px;
  height:60px;
  display:flex;
}
#u1806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1807 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:129px;
  width:100px;
  height:60px;
  display:flex;
}
#u1807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1808 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:129px;
  width:100px;
  height:60px;
  display:flex;
}
#u1808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1809 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:239px;
  width:100px;
  height:60px;
  display:flex;
}
#u1809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1810 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:239px;
  width:100px;
  height:60px;
  display:flex;
}
#u1810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1811 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:239px;
  width:100px;
  height:60px;
  display:flex;
}
#u1811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1812 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:129px;
  width:100px;
  height:60px;
  display:flex;
}
#u1812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1813 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:129px;
  width:100px;
  height:60px;
  display:flex;
}
#u1813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:159px;
  width:0px;
  height:0px;
}
#u1814_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u1814_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1814_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:159px;
  width:0px;
  height:0px;
}
#u1815_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:78px;
  height:10px;
}
#u1815_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1815_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:189px;
  width:0px;
  height:0px;
}
#u1816_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:85px;
}
#u1816_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:75px;
  width:128px;
  height:10px;
}
#u1816_seg2 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:70px;
  width:20px;
  height:20px;
}
#u1816_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:71px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:269px;
  width:0px;
  height:0px;
}
#u1817_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u1817_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1817_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:269px;
  width:0px;
  height:0px;
}
#u1818_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:78px;
  height:10px;
}
#u1818_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1818_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:159px;
  width:0px;
  height:0px;
}
#u1819_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u1819_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1819_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:159px;
  width:0px;
  height:0px;
}
#u1820_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:78px;
  height:10px;
}
#u1820_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1820_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:189px;
  width:0px;
  height:0px;
}
#u1821_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:55px;
}
#u1821_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u1821_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:129px;
  width:230px;
  height:60px;
  display:flex;
}
#u1822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:240px;
  width:230px;
  height:60px;
  display:flex;
}
#u1823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:391px;
  width:100px;
  height:60px;
  display:flex;
}
#u1824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:391px;
  width:100px;
  height:60px;
  display:flex;
}
#u1825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:391px;
  width:100px;
  height:60px;
  display:flex;
}
#u1826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:391px;
  width:100px;
  height:60px;
  display:flex;
}
#u1827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:391px;
  width:100px;
  height:60px;
  display:flex;
}
#u1828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:494px;
  width:100px;
  height:60px;
  display:flex;
}
#u1829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:421px;
  width:0px;
  height:0px;
}
#u1830_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u1830_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1830_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:421px;
  width:0px;
  height:0px;
}
#u1831_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:78px;
  height:10px;
}
#u1831_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1831_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:451px;
  width:0px;
  height:0px;
}
#u1832_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:78px;
}
#u1832_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:68px;
  width:473px;
  height:10px;
}
#u1832_seg2 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:63px;
  width:20px;
  height:20px;
}
#u1832_text {
  border-width:0px;
  position:absolute;
  left:148px;
  top:64px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:421px;
  width:0px;
  height:0px;
}
#u1833_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u1833_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1833_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:421px;
  width:0px;
  height:0px;
}
#u1834_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:78px;
  height:10px;
}
#u1834_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1834_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:451px;
  width:0px;
  height:0px;
}
#u1835_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u1835_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:28px;
  width:20px;
  height:20px;
}
#u1835_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:391px;
  width:230px;
  height:60px;
  display:flex;
}
#u1836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:585px;
  width:100px;
  height:60px;
  display:flex;
}
#u1837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:585px;
  width:100px;
  height:60px;
  display:flex;
}
#u1838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:585px;
  width:100px;
  height:60px;
  display:flex;
}
#u1839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:585px;
  width:100px;
  height:60px;
  display:flex;
}
#u1840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:585px;
  width:100px;
  height:60px;
  display:flex;
}
#u1841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:688px;
  width:100px;
  height:60px;
  display:flex;
}
#u1842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:615px;
  width:0px;
  height:0px;
}
#u1843_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u1843_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1843_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:615px;
  width:0px;
  height:0px;
}
#u1844_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:78px;
  height:10px;
}
#u1844_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1844_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:645px;
  width:0px;
  height:0px;
}
#u1845_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:120px;
}
#u1845_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:110px;
  width:873px;
  height:10px;
}
#u1845_seg2 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:103px;
  width:10px;
  height:17px;
}
#u1845_seg3 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:98px;
  width:20px;
  height:20px;
}
#u1845_text {
  border-width:0px;
  position:absolute;
  left:330px;
  top:106px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:615px;
  width:0px;
  height:0px;
}
#u1846_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u1846_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1846_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:1022px;
  top:615px;
  width:0px;
  height:0px;
}
#u1847_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:78px;
  height:10px;
}
#u1847_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1847_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:645px;
  width:0px;
  height:0px;
}
#u1848_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u1848_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:28px;
  width:20px;
  height:20px;
}
#u1848_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:585px;
  width:100px;
  height:60px;
  display:flex;
}
#u1849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:585px;
  width:100px;
  height:60px;
  display:flex;
}
#u1850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:688px;
  width:100px;
  height:60px;
  display:flex;
}
#u1851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:645px;
  width:0px;
  height:0px;
}
#u1852_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:78px;
}
#u1852_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:68px;
  width:128px;
  height:10px;
}
#u1852_seg2 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:63px;
  width:20px;
  height:20px;
}
#u1852_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:65px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:718px;
  width:0px;
  height:0px;
}
#u1853_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:250px;
  height:10px;
}
#u1853_seg1 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1853_text {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:677px;
  top:615px;
  width:0px;
  height:0px;
}
#u1854_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:78px;
  height:10px;
}
#u1854_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1854_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:615px;
  width:0px;
  height:0px;
}
#u1855_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u1855_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1855_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:585px;
  width:230px;
  height:60px;
  display:flex;
}
#u1856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:451px;
  width:0px;
  height:0px;
}
#u1857_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:139px;
}
#u1857_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:119px;
  width:20px;
  height:20px;
}
#u1857_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:59px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:829px;
  width:300px;
  height:36px;
  display:flex;
}
#u1858 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1859_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:916px;
  width:100px;
  height:60px;
  display:flex;
}
#u1859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:916px;
  width:100px;
  height:60px;
  display:flex;
}
#u1860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:916px;
  width:100px;
  height:60px;
  display:flex;
}
#u1861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:916px;
  width:100px;
  height:60px;
  display:flex;
}
#u1862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:1019px;
  width:100px;
  height:60px;
  display:flex;
}
#u1863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:1019px;
  width:100px;
  height:60px;
  display:flex;
}
#u1864 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1864_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:916px;
  width:100px;
  height:60px;
  display:flex;
}
#u1865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:946px;
  width:0px;
  height:0px;
}
#u1866_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u1866_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1866_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:946px;
  width:0px;
  height:0px;
}
#u1867_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:78px;
  height:10px;
}
#u1867_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1867_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1868 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:976px;
  width:0px;
  height:0px;
}
#u1868_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:78px;
}
#u1868_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:68px;
  width:128px;
  height:10px;
}
#u1868_seg2 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:63px;
  width:20px;
  height:20px;
}
#u1868_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:64px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:946px;
  width:0px;
  height:0px;
}
#u1869_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:78px;
  height:10px;
}
#u1869_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1869_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:946px;
  width:0px;
  height:0px;
}
#u1870_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u1870_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1870_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:1049px;
  width:0px;
  height:0px;
}
#u1871_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u1871_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1871_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:976px;
  width:0px;
  height:0px;
}
#u1872_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u1872_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:28px;
  width:20px;
  height:20px;
}
#u1872_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:916px;
  width:230px;
  height:60px;
  display:flex;
}
#u1873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:653px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1874 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1186px;
  width:653px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u1874 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1874_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1261px;
  width:100px;
  height:60px;
  display:flex;
}
#u1875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:1261px;
  width:100px;
  height:60px;
  display:flex;
}
#u1876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1877 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:1261px;
  width:100px;
  height:60px;
  display:flex;
}
#u1877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1878 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:1261px;
  width:100px;
  height:60px;
  display:flex;
}
#u1878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1879 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:1261px;
  width:100px;
  height:60px;
  display:flex;
}
#u1879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1880 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:1291px;
  width:0px;
  height:0px;
}
#u1880_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u1880_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1880_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1881 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:1291px;
  width:0px;
  height:0px;
}
#u1881_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:78px;
  height:10px;
}
#u1881_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1881_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1882 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1291px;
  width:0px;
  height:0px;
}
#u1882_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:78px;
  height:10px;
}
#u1882_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1882_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1883 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:1291px;
  width:0px;
  height:0px;
}
#u1883_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:77px;
  height:10px;
}
#u1883_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1883_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:60px;
}
#u1884 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:1261px;
  width:230px;
  height:60px;
  display:flex;
}
#u1884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1885 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1428px;
  width:1200px;
  height:30px;
}
#u1886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u1886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1887 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u1887 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1888 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u1888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1889 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u1889 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1890 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u1890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u1891 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u1891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1892 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:1465px;
  width:199px;
  height:140px;
  display:flex;
}
#u1892 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
